// @font-face {
//   font-family: "Cormorant Garamond";
//   src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff2")
//       format("woff2"),
//     url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff")
//       format("woff"),
//     url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf")
//       format("truetype");
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
// }
